<!DOCTYPE html>
<html lang="en">
<head></head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerLinks}}
    <link rel="stylesheet" href="css/404.css">
    <title>404 Page Not Found - Weather App</title>
</head>
<body>
  {{>header}}
  <main class="container">
      <div class="main-top">
          <img src="images/404.png" alt="Musab Sayyed" id="about-img" title="Musab Sayyed">
      </div>  
      <div class="main-bottom">
        <p>Welcome to the Weather App by Musab Sayyed</p>
        <h2>Oops! Page Not Found</h2>
        <a href="/"><button class="btn" id="main-btn">Go Back!</button></a>
      </div>
  </main>
  {{>footer}}
</body>
</html>