<!DOCTYPE html>
<html lang="en">
<head></head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>headerLinks}}
    <link rel="stylesheet" href="css/about.css">
    <title>About - Weather App</title>
</head>
<body>
    {{>header}}
    <main class="container">
        <div class="main-left">
            <img src="images/about.png" alt="Musab Sayyed" id="about-img" title="Musab Sayyed">
        </div>  
        <div class="main-right">
            <p>About Me</p>
            <h2>Lorem ipsum dolor sit. <span class="light-blue">Lorem. </span>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</h2>
        </div>
    </main>
    {{>footer}}
</body>
</html>