<footer>
    <div class="main-footer container">
        <div class="footer-left">Create With â¤ by Musab Sayyed</div>
        <div class="footer-right">
        <ul class="footer-icons">
            <li class="footer-icon">
            <a href="https://www.youtube.com/channel/UCaMF60OleNGEeBcYS36VY1g?sub_confirmation=1" target="_blank" id="youtube-icon"><i class="fab fa-youtube" title="YouTube"></i></a>
            </li>
            <li class="footer-icon">
            <a href="https://instagram.com/_musabsayyed" target="_blank" id="instagram-icon"><i class="fab fa-instagram" title="Instagram"></i></a>
            </li>
            <li class="footer-icon">
            <a href="https://www.facebook.com/profile.php?id=100060850573150" target="_blank" id="facebook-icon"><i class="fab fa-facebook" title="Facebook"></i></a>
            </li>
            <li class="footer-icon"> 
            <a href="https://twitter.com/_musabsayyed" target="_blank" id="twitter-icon"><i class="fab fa-twitter" title="Twitter"></i></a>
            </li>
        </ul>
        </div>
    </div>
</footer>
<script src="js/header.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
