<header>
    <nav id="nav" class="container">
        <div class="header-left" id="header-left">
            <i class="far fa-snowflake header-icon"></i>
            <a href="/" class="header-logo-text"><div>Weather App</div></a>
            <i class="far fa-snowflake header-icon"></i>
        </div>
        <div class="header-right" id="header-right">
            <ul class="navItems" id="navItems">
                <li class="navItem"><a href="/">Home</a></li>
                <hr>
                <li class="navItem"><a href="/weather">Weather</a></li>
                <hr>
                <li class="navItem"><a href="/about">About</a></li>
                <hr>
            </ul>
        </div>
        <div class="hamburger" id="hamburger">
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
            <span class="hamburger-line"></span>
        </div>
    </nav>
</header>
