main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
}

#carouselExampleControls{
    width: 30em;
}

@media screen and (max-width: 1005px){
    main{
        flex-direction: column-reverse;
        padding-top: 2em;
        justify-content: space-around;
    }
}