@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

*{
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
    font-family: 'Baloo Chettan 2', cursive;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

:root{
    --dark-blue: rgb(0, 27, 53);
    --light-blue: rgb(74, 167, 230);
    --grey: rgb(26, 37, 46);
}

.container{
    width: 70%;
    margin: auto;
}

.light-blue{
    color: var(--light-blue);
}

.dark-blue{
    color: var(--dark-blue);
}

.btn{
    padding: 0.5em 1.5em;
    color: var(--dark-blue);
    border: none;
    border-radius: 40px;
    box-shadow: 0em 0.5em 0.6em gray;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--light-blue);
    color: white;
}

.hidden{
    visibility: hidden;
}

::placeholder{
    color: rgb(173, 173, 173);
}